<div id='container' ng-controller="LinksController" ng-init="Links.getAll()">

 <div class='navigation'>
      <ul>
        <li><a href='#/links'>All Links</a></li>
        <li><a href='#/shorten' class='create'>Shorten</a></li>
      </ul>
  </div>

  <h1>All links</h1>

  <form class='form-inline'>
    <input ng-model='query' type='text'
      placeholder='Filter by' autofocus>
  </form>
  <div class = 'link' ng-repeat="link in data.links | filter:query | orderBy:'-visits'"> 
  	<div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
  	<div class='title'>{{link.title}}</div>
  	<a href='{{link.baseUrl}}/{{link.code}}'>{{link.url}}</a>
	</div>

</div>
